#mainheading {
    background-color: rgba(12, 11, 10, 0.1); text-align: center;
}

#latestbackground {
    background-color: antiquewhite;
}

#Pakistanbg {
    background-color:rgb(209, 255, 240) ;
}

#worldbg {
    background-color: rgb(239, 253, 215);
}

#sportsbg {
    background-color: blanchedalmond;
}

#bebg {
    background-color: beige ;
}